.MainContentSettings{
    width: 60%;
  }
  

  
  .CheckBoxClass{
    color:black
  }


  
.ErrorTextClass{
  color:red;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.SuccessTextClass{
  color:green;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

